MINIO_ROOT_USER=labadmin
MINIO_ROOT_PASSWORD=labpassword123
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=adminlab123
AIRFLOW_ADMIN_EMAIL=admin@example.local
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AIRFLOW_UID=50000
